* {
    font-family: Arial;
}

body {
    margin: 0px;
}

.page {
    background-color: rgb(129, 194, 231);
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 800px 1fr;
    grid-auto-rows: 100px 500px 100px 1fr;
    grid-template-areas:'page header page2'
                        'page gameWindow page2'
                        'page menu page2'
                        'page null page2';
    grid-area: page;
}

.page2 {
    background-color: lightgreen;
    grid-area: page2;
}

.header {
    grid-area: header;
    padding-top: 50px;
    font-size: 50px;
    color: green;
}

.gameWindow {
    display: inline-block;    
    background-color: lightblue;
    grid-area: gameWindow;
}

.gameBg {
    position: absolute;
    z-index: 1;
}

.flower {
    grid-area: gameWindow;
    position: absolute;
    z-index: 2;
    bottom: 210px;
    left: 500px;
    width: 13%;
}

.flower1 {
    display: block;
}
.flower2 {
    display: none;
}
.flower3 {
    display: none;
}
.flower4 {
    display: none;
}
.flower5 {
    display: none;
}
.flower6 {
    display: none;
}

.menu {
    background-color: lightcyan;
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.buttons {
    cursor: pointer;
    border: solid black 2px;
}

.water {
    background-color: red;
}

.feeder {
    background-color: orange;
}

.cutters {
    background-color: yellow;
}

.prune {
    background-color: seagreen;
}

.notebook {
    background-color: dodgerblue;
}

.compost {
    background-color: indigo;
}